:root {
  --color-1-pink : #D282A6 !important;
  --color-2-pink : #E8B4BC !important;
  --color-3-pink: #F5E3E0 !important;
  --color-4-pink : #6E4555 !important;
  --color-5-pink : #3A3238 !important;
  
  }

.bg-body-tertiary {
  background-color: var(--color-4-pink) !important;
  border-radius: 20px;
}
.me-auto{
  background-color: var(--color-1-pink);
  border-radius: 20px;
}